body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MiLogo {
    background-color: rgb(140, 197, 247);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 5px auto;
    background-image: url("../IntroduccionJS/logo/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.htmlcssjsLogo {
    background-color: rgb(140, 197, 247);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 5px auto;
    background-image: url("../IntroduccionJS/logo/logohjc.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.jsLogo {
    background-color: rgb(140, 197, 247);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 5px auto;
    background-image: url("../IntroduccionJS/logo/logojs.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.logosContainer {
    width: 350px;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: rgb(140, 197, 247);
    width: 50%;
    text-align: center;
    margin: 10px auto;
    border-radius: 0px 0px 5px 5px;
}

.title_h2 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: rgb(140, 197, 247);
    width: 50%;
    text-align: center;
    margin: 10px auto;
    border-radius: 0px 0px 5px 5px;
}

/*
 nota que al agregar 
 demasiados elementos en el 
 contenedor 'contenido'
 la propiedad overflow
 no sera suficiente para una correcta 
 visualizacion.
*/

.contenido {
    width: 70%;
    height: 500px;
    border: 1px solid rgb(54, 74, 92);
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: scroll;
}

.contenidoSubContainer {
    width: 50%;
    height: auto;
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.btnig {
    background-color: rgb(243, 121, 192);
    padding: 5px;
    transition: all .5s;
    color: rgb(245, 229, 236);
    text-decoration: none;
    border-radius: 10px;
}

.btnig:hover {
    color: rgb(94, 67, 87);
}

.footer {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight:900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: rgb(140, 197, 247);
    width: 50%;
    text-align: center;
    margin: 10px auto;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.arreglo {
    border: 3px solid #000;
    width: 90%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.arreglo > div {
    width: 33%;
    height: 40px;
    border: 1px solid #4d3e3e;
    margin: auto 2px;
    position: relative;
}

.arreglo > div > span {
    width: 15px;
    height: 15px;
    border: 1px solid #5ed63a;
    position: absolute;
    margin-left: 82%;
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .contenido {
      flex-direction: column;
      height: auto;
    }

    .title_h1,.title_h2 {
        width: 100%;
    }

    #h2CT_title {
        font-size: small;
    }

    .arreglo {
        flex-direction: column;
        height: 100px;
    }

    .arreglo > div {
        width: 100%;
    }

    .arreglo > div > span {
        margin-left: 86%;
    }

    .parrafo {
        overflow: scroll;
    }

    .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        overflow: scroll;
    }
}